__pycache__/
*.py[cod]
.build/ build/ dist/ *.egg-info/
.pytest_cache/ .mypy_cache/ .ruff_cache/
.env .env.* !.env.example
configs/.env configs/.env.* !configs/.env.example
data/* !data/README.md
.notebooks_cache/
